
@{
    ViewBag.Title = "Şifremi Unuttum | Ortem Elektronik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<div class="card-body">
    <form>
        <label for="email">E-Posta Adresi</label>
        <input type="email" class="form-control" id="email" placeholder="E-Posta Adresinizi Girin">
        <small id="emailHelp" class="form-text text-muted">
            Lütfen kayıtlı olan e-posta adresinizi
            girin.
        </small>
    </form>

</div>
<div class="card-footer d-flex justify-content-center">
    <style>
        #pswref{
            border-top-right-radius:5px;
            border-top-left-radius:5px;

        }
    </style>
<button type="submit" class="btn btn-primary " id="pswref">Şifremi Sıfırla</button>
</div>
