
@{
    ViewBag.Title = "Kaydınız Oluşturuldu | Ortem Elektronik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<section class="login-info">
    <div class="card-body">


        <div class="container-fluid">
            <div class="row main">

                <div class="main-content">
                    <div class="text-black-50 text-center">
                        <h3>Kaydınız oluşturuldu</h3>

                        <p class="text-center">
                            Lütfen e-posta adresinize gönderilmiş olan aktivasyon
                            linkine tıklayarak hesabınızı aktive ediniz.
                        </p>
                        <hr />
                        <a href="/Home/Login">Giriş sayfasına gitmek için tıklayınız.</a>
                    </div>
                </div>
            </div>

        </div>
    </div>
</section>

