@using RDChartSite.Entities.Messages
@model List<ErrorMessageObj>
@{
    ViewBag.Title = "Geçersiz İşlem | Ortem Elektronik";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<section class="login-info">
    <div class="card-body">


        <div class="container-fluid">
            <div class="row main">

                <div class="main-content">
                    <div class="text-black text-center">
                        <h4>Geçersiz İşlem</h4>
                        <br />
                        <p class="text-center">

                        @foreach (ErrorMessageObj error in Model)
                        {
                            @error.Message<br />
                        }
                        </p>
                        <h6 class="text-center">
                            Giriş sayfasına yönlendiriliyorsunuz...
                        </h6>
                        <hr />

                        <div class="container-fluid">

                            <a href="/Home/Index">Otomatik olarak yönlendirilmezseniz buraya tıklayın.</a>
                        </div>


                    </div>
                </div>
            </div>

        </div>
    </div>
</section>
<script>
    $(function () {
        setTimeout(function () {
            window.location = "/Home/Index";
        }, 3000)
    })
</script>

